html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}
